section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

button {
    width: 248px;
    height: 48px;
    background-color: tomato;
    border-radius: 5px;
    border: 0;
    color: white;
    font-weight: bolder;   
    margin-bottom: 50px; 
}